[Unit]
Description=A Service to start the DWE Streamer on boot
After=network.target

[Service]
Type=simple
ExecStart=/bin/sh -c 'dwe-os-1 start 5600 $(hostname -I | grep -oE '\b10\.10\.69\.[0-9]{1,3}\b')'
Restart=on-failure

[Install]
WantedBy=multi-user.target

